#$ vendor/bin/phpstan analyze

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # bootstrapFiles:
        # - vendor/php-stubs/wordpress-globals/wordpress-globals.php
        # - lib/dotenv/DotEnv.php
    # paths:
        # - .
        # - content/
    excludePaths:
        analyseAndScan:
            - content/mu-plugins/FT/
        analyse:
            - lib/
            - vendor/
    ignoreErrors:
        - '#Call to static method site\(\) on an unknown class Figuren_Theater\\FT\.#'

    # allow constants to have different values in different environments
    # to prevent errors like: "Right side of && is always false."
    # @see https://phpstan.org/config-reference#constants
    dynamicConstantNames:
        - SUBDOMAIN_INSTALL
        - WP_CACHE
