#$ vendor/bin/phpstan analyze

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/php-stubs/wordpress-globals/wordpress-globals.php
        - %currentWorkingDirectory%/lib/dotenv/DotEnv.php
    paths:
        - %currentWorkingDirectory%/
        - %currentWorkingDirectory%/content/
    excludePaths:
       - %currentWorkingDirectory%/lib/
       - %currentWorkingDirectory%/vendor/
       - %currentWorkingDirectory%/content/mu-plugins/FT/
