# ----------------------------------------------------------------------
# Protect the crazy thousands of third-parties, to not do or allow anything crazy.
# ----------------------------------------------------------------------
Deny from all
